SUPABASE_URL=https://lyplvfgntugcrbpxkadf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5cGx2ZmdudHVnY3JicHhrYWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NjQ0MjcsImV4cCI6MjEwNDU0MDQyN30.9vK9ZmFCaUslUxOtTzOEC51G25tj6_FqE6HV2caAzQ4

PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
